html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html { height: 100%; }
body {
	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #383838;
	/*background: url(bg.png) repeat;*/
	/*background-size: cover;*/
}
ol, ul { list-style: none; }
* {
	margin: 0;
	outline: none;
	padding: 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

a, a:hover { color: #383838; text-decoration: none; }


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }

.left { float:left; }
.right { float:right; }
.text-right { text-align: right; }
.text-left { text-align: left; }



.super-image {
	display: inline-block;
	width: 205px;
}

#blackPanel {
	background: rgba(0,0,0,.9);
	position: fixed;
	display: block;
}

.wrapPanel {
	width: 600px;
	position: absolute;
	padding: 10px;
	background: #fff;
	left: 50%;
	top: 20%;
}
.mysuperimage {
	width: 100%;
	left: 50%;
	top: 20%;
}


.description {
	float: left;
	margin-top: 10px;
	font-weight: bold;
}

.knopka {
	font-size: 17px;
	margin: 10px 0;
	float: right;
	padding-right: 15px;
	border-radius: 50%;
	cursor: pointer;
}